@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body{
    min-width: 1920px;
    min-height: 1280px;
    background-color: #ffeeee;
    font-family: "Nunito", serif;
}
[data-theme="dark"] body {
    background-color: #771f1f;
}

@theme {
    --color-lightPurple: #AEA1C9;
    --color-purple: #624699;
    --color-darkPurple: #230E36;
    --color-gray: rgba(0, 0, 0, 0.7);
    --color-secondaryPurple: rgba(84, 56, 126, 0.5);
    --color-secondaryDarkPurple: #483B55;
}