@import "tailwindcss" important;

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
    min-width: 1920px;
    min-height: 1280px;
    background-color: rgba(84, 56, 126, 0.5);
    font-family: "Nunito", sans-serif;
}

@theme {
    --color-lightPurple: #AEA1C9;
    --color-purple: #624699;
    --color-darkPurple: #230E36;
    --color-gray: rgba(0, 0, 0, 0.7);
    --color-secondaryPurple: rgba(84, 56, 126, 0.5);
    --color-secondaryDarkPurple: #483B55;
    --color-buttonBg: rgba(252, 249, 255, 0.16);
    --color-errorPrimary:rgba(195, 63, 63, 1);
    --color-errorSecondary: rgba(253, 169, 169, 0.16);
    --color-whiteSecondary: rgba(255, 255, 255, 0.7);
    --color-shadowBorder:rgba(174, 161, 201, 0.5);
}
[data-theme="dark"] body {
    background-color: #230E36;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    ::-webkit-search-cancel-button {
        display: none;
    }

    input[type="password"]::-ms-reveal,
    input[type="password"]::-ms-clear {
        @apply hidden;
    }
    h1 {
        @apply text-[64px] ;
    }
    h2 {
        @apply text-[40px];
    }
    a{
        @apply text-gray hover:text-lightPurple active:text-purple dark:text-white;
    }
}

.btn, .input, .btn-with-icon {
    @apply cursor-pointer border rounded-[20px] transition-all duration-200 outline-none;
}

.btn {
    @apply h-[52px] border-3 text-center items-center justify-center bg-white text-black border-purple
    hover:border-lightPurple hover:text-gray hover:shadow-[0_0_20px_var(--color-shadowBorder)]
    dark:text-white dark:hover:text-white dark:bg-buttonBg dark:active:text-purple dark:hover:border-purple
    active:text-purple active:shadow-none active:border-purple text-[24px];
}

.btn-icon {
    @apply cursor-pointer text-purple hover:drop-shadow-[0_0_5px_var(--color-purple)]
    dark:text-lightPurple dark:hover:text-purple dark:hover:drop-shadow-[0_0_5px_var(--color-purple)];
}

.btn-with-icon {
    @apply h-[52px] px-[27px] justify-between flex items-center bg-white border-2 border-purple dark:bg-buttonBg
    dark:text-white hover:shadow-[0_0_20px_var(--color-shadowBorder)] focus:shadow-[0_0_20px_var(--color-shadowBorder)]
    hover:text-purple dark:hover:text-purple text-[24px];
}

.input-icon {
    @apply cursor-pointer absolute top-0 right-4 h-full flex items-center text-lightPurple dark:text-white;
}

.input {
    @apply h-[54px] pl-[27px] bg-white placeholder-gray hover:placeholder-black dark:placeholder-whiteSecondary
    dark:hover:placeholder-white dark:hover:text-white border-lightPurple border-2 dark:text-white
    hover:shadow-[0_0_20px_var(--color-shadowBorder)] focus:shadow-none outline-none focus:placeholder-transparent
     dark:bg-buttonBg text-[20px] focus:border-purple;
}

.otp-input {
    @apply w-[60px] h-[60px] border-2 border-purple rounded-lg text-center text-xl font-semibold
    text-black focus:outline-none dark:text-white
    hover:shadow-[0_0_20px_var(--color-shadowBorder)] text-[32px];
}


.input-checkbox {
    @apply flex items-center justify-center rounded-[5px] border border-purple cursor-pointer
    transition-all min-w-[20px] min-h-[20px]
}

.input-checkbox-checked {
    @apply bg-purple dark:bg-buttonBg shadow-[0_0_20px_var(--color-shadowBorder)]
}


.custom-select-box {
    @apply flex items-center justify-between h-[52px] px-[27px] rounded-[20px]
    border-2 border-purple dark:bg-buttonBg text-purple
    cursor-pointer select-none transition-shadow min-w-max;
}

.custom-select-option {
    @apply absolute left-0 bg-white dark:bg-darkPurple overflow-hidden
    shadow-[0_0_5px_var(--color-shadowBorder)] min-w-[350px] mt-2 rounded-[20px] border-2 border-purple;
}

.custom-option {
    @apply mx-[27px] py-2 text-black dark:text-white cursor-pointer
    hover:text-purple dark:hover:text-purple whitespace-nowrap;
}

.custom-calendar-datepicker, .react-datepicker__header  {
    @apply bg-white dark:bg-darkPurple  shadow-[0_0_20px_var(--color-shadowBorder)]
}
.react-datepicker__current-month{
    @apply text-black dark:text-white font-[16px]
}
.custom-calendar-datepicker__day {
    @apply text-black dark:text-white hover:bg-purple hover:text-white transition
}

.custom-calendar-datepicker__week {
    @apply text-purple text-lg hover:bg-purple hover:text-white rounded-lg transition
}
.react-datepicker__day--selected{
    @apply bg-purple text-white
}
